.postCard{
    width: 300px;
    height: 200px;
    padding: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-secondary);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btnGroup{
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}